In [1]:
import pandas as pd
import numpy as np

In [4]:
column_names = ['rischi', 'p_rischio', 'punteggio_rischio', 'benefici'
                , 'punteggio_beneficio', 'malefici', 'punteggio_maleficio', 'bonus', 'punti_bonus']
p_gloria_eterna = (1-0.4)*(1-0.3)*(1-0.2)

In [12]:
colonneA = [ ['male_struttura', 'male_nucleare', 'male_DS'], [0.4, 0.3, 0.2], [-50, -30, -5], 
          ['no_stress_erasmus', 'risparmio_volo'],[15, 10] ,['so_male_le_cose', 'grande stress ora'], [-10, -20],
            ['gloria eterna',], [p_gloria_eterna*100,]]

dictA= dict(zip(column_names, colonneA ))

In [ ]:
def pad_dict_list(dict_list, padel):
    #thanks StackExchange
    lmax = 0
    for lname in dict_list.keys():
        lmax = max(lmax, len(dict_list[lname]))
    for lname in dict_list.keys():
        ll = len(dict_list[lname])
        if  ll < lmax:
            dict_list[lname] += [padel] * (lmax - ll)
    return dict_list

pad_dict_list(dictA, 'NaN')

In [20]:
pros_and_consA = pd.DataFrame(dictA)

,rischi,p_rischio,punteggio_rischio,benefici,punteggio_beneficio,malefici,punteggio_maleficio,bonus,punti_bonus
0,male_struttura,0.4,-50,no_stress_erasmus,15,so_male_le_cose,-10,gloria eterna,33.6
1,male_nucleare,0.3,-30,risparmio_volo,10,grande stress ora,-20,NaN,NaN
2,male_DS,0.2,-5,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
colonneB = [ ['male_struttura', 'male_nucleare', 'male_DS'], [0.05, 0.05, 0.05], [-50, -30, -5], 
         ['so_meglio_le_cose', 'meno stress ora'], [+10, +20], ['pi첫_stress_erasmus', 'spesa_volo'],[-15, -10] ]

dictB = dict(zip(column_names[0:-2], colonneB))
pad_dict_list(dictB, 'NaN')

{'rischi': ['male_struttura', 'male_nucleare', 'male_DS'],
 'p_rischio': [0.05, 0.05, 0.05],
 'punteggio_rischio': [-50, -30, -5],
 'benefici': ['so_meglio_le_cose', 'meno stress ora', 'NaN'],
 'punteggio_beneficio': [10, 20, 'NaN'],
 'malefici': ['pi첫_stress_erasmus', 'spesa_volo', 'NaN'],
 'punteggio_maleficio': [-15, -10, 'NaN']}

In [25]:
pros_and_consB = pd.DataFrame(dictB)

In [26]:
pros_and_consB

,rischi,p_rischio,punteggio_rischio,benefici,punteggio_beneficio,malefici,punteggio_maleficio
0,male_struttura,0.05,-50,so_meglio_le_cose,10,pi첫_stress_erasmus,-15
1,male_nucleare,0.05,-30,meno stress ora,20,spesa_volo,-10
2,male_DS,0.05,-5,NaN,NaN,NaN,NaN